<form enctype="multipart/form-data" method="post">
    {% csrf_token %}
      <div class="row">
        {% for user in formulario %}
          <div class="col-6 mb-3">
            <label for="" class="form-label">{{ user.label }}</label>
            {% if user.label == 'Ficha' or user.label == 'Tipo de documento' or user.label == 'Rol' %}
              <select class="form-select" style="width: 80%" name="{{ user.name }}">
                {% for select in user %}
                  {{ select }}
                {% endfor %}
              </select>
              {% else %}
              {% if user.field.widget.input_type == 'file' and user.value %}
                <br>
                <img class="my-2 rounded" src="{{ MEDIA_URL }}/imagenes/{{ user.value }}" width="75">
              {% endif %}
                <input
                style="width: 80%"
                type="{{ user.field.widget.input_type }}"
                class="form-control"
                name="{{ user.name }}"
                value="{{ user.value | default:''}}"
                aria-describedby="helpId"
                placeholder="{{ user.label }}"
                {% if user.field.widget.input_type == 'file' and user.value %}
                  accept=".png, .jpg, .jpeg"
                {% endif %}>
            {% endif %}
            <div class="col-6 help-text"> {{ user.errors }} </div>
            </div>
        {% endfor %}
      </div>

        <div class="text-center mt-3 card-footer text-muted">
          <input class="btn btn-outline-success" type="submit" href="#" role="button" value="Enviar informacion">
          <a class="btn btn-outline-danger" href="{% url 'usuario' %}" role="button">Cancelar</a>
        </div>
</form>