@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;400&display=swap');

:root {
    --colorprin: #39A900;
    --colorsec: #000;
    --colorsec2: #00AAFF;
    --colorsec3: #385C57;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: grid;
    flex-direction: column;
    font-family: 'Work Sans', sans-serif;
    height: 100vh;
}

.content {
    justify-content: center;
    align-items: center;
    display: grid;
    grid-template-rows: 80px 1fr 1fr 1fr 1fr 80px;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.header {
    grid-column: 1 / span 3;
}

.main {
    grid-row: 2 / 6;
    grid-column: 1 / span 3;
}

.footer {
    grid-row: 6 / 7;
    grid-column: 1 / span 3;
}

.form-control:focus,
.form-control:active {
    box-shadow: none;
    border: 1px solid rgba(0, 0, 0, .1);
}

.input-group-text {
    width: 3rem;
    border-radius: 50%;
    background-color: white;
}

.input-group {
    height: 3rem;
    width: 25rem;
    border-radius: 3rem;
}

.olvidar {
    color: black;
    text-decoration: none;
    transition: .2s;
}

.olvidar:hover {
    color: var(--colorprin);
}

.form-control {
    border-radius: 30px;
}

a {
    text-decoration: none;
}

.imagen-sesion {
    margin-top: 3rem;
}

.carousel-inner {
    border-radius: .5rem;
}

@media (max-width:1000px) {
    .carrusel {
        display: none;
    }
}