<div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
        <form action="{% url 'eliminarTipoHuevo' object.id %}"  method="post">
            <div class="modal-body">
                {% csrf_token %}
                <div class="row">
                    {% csrf_token %}
                    <h5 class="title">Desea eliminar el tipo de huevo {{object}}?</h5>
                    <div class="col text-center">
                        <input type="submit" class="btn btn-outline-danger" value="confirmar">
                        <a class="btn btn-outline-success" value="cancelar" href="{% url 'tipos_huevos' %}">Cancelar</a>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>