<div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
        <form action="{% url 'crear_jornada' %}" enctype="multipart/form-data" method="post">
            <div class="modal-header">
                {% load static %}
                <h3 class="modal-title">Editar jornada</h3>
                <img class="ml-3" src="{% static 'images/sena_logo.png' %}" alt="Logo Sena" style="width: 4rem">
            </div>
            <div class="modal-body">
                {% csrf_token %}
                {% for campo in form %}
                    <div class="mb-3" >
                    <label for="" class="form-label">{{campo.label}}</label>
                    <input type="text"
                    class="form-control"
                    name="{{ campo.name }}"
                    aria-describedby=""
                    placeholder="{{ campo.label }}">
                    <br/> 
                    </div>
                    <div class="col-12 help-text">{{ campo.errors }}</div>
                {% endfor %}
            </div>
            <div class="modal-footer text-center">
                <input class="btn btn-outline-success" type="submit" value="Enviar informacion">
                <a role="button" class="btn btn-outline-danger" href="{% url 'jornadas' %}">Cancelar</a>
            </div>
        </form>
    </div>
</div>